.CreateAccountPage {
  position: relative;

  .heading {
    color: #808080;
    font-size: 16px;
    font-weight: 300;
  }

  label {
    @extend .heading;
  }

  input {
    @extend.CreateAccountPage;
    color: 828282;
    padding: 10px 20px;
    background: #FCFCFC;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .ant-input-group-addon {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .term {
    color: #808080;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    padding: 0 10px;

    a {
      text-decoration: none;
      color: #9773ff;
    }
  }

  .btnNear {
    width: fit-content;
  }

  .subBtn {
    color: #fff;
    // background: #BEBEC2;
    padding: 5px 15px;
    font-size: 16px;
    margin-top: 20px;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    &:focus,
    &:hover {
      color: #fff;
    }
  }

  .email {
    display: block;
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .description {
    span {
      text-align: center;
    }

    button {
      margin: 10px auto;
      color: #fff;
      background: #414047;
      padding: 8px 20px;
      font-size: 18px;
      height: auto;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      &:focus,
      &:hover {
        color: #fff;
      }
    }
  }
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none !important;
}