.rules-text {
  color: #6f6e73;
}

.terms-cond-text {
  color: #885fff;
}

.separator {
  border-bottom: 1px solid #dfdfe0;
}

.lgn-btn {
  background: #414047 !important;
  border: none !important;
  border-radius: 5px !important;
}

.input {
  background: #fcfcfc;
  border: 1px solid #bebec2;
  border-radius: 8px;
}

.continue-btn {
  background: #885fff;
  border: none;
  border-radius: 5px;
}

.disable-continue-btn {
    background: #BEBEC2 !important;
    border: none !important;
    border-radius: 5px !important;
  }

  
.check-btn {
  padding: 3px 10px;
  background: #fcfcfc;
  border-radius: 10px;
  border: 1px solid #bebec2;
}

.ml-15 {
  margin-left: 15%;
}

.otp-input {
  height: 40.1px;
  border: 1px solid #cfcfcf;
  background: rgba(0, 0, 0, 0.03);
  width: 40.1px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resend-text{
    color: #587BE0;
}